html , body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.box{
    width: 20%;
    height: 25%;
    border: 1px solid lightgray;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
}
@media only screen and (max-width: 600px){
    .box{
        width: 95%;
    }
}